#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
scaddins.wiki/
BuildDate.txt
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/
Hunspellx86.dll
Hunspellx64.dll

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#lib
lib/

#opt
opt/

#tools
tools/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
AngleOfSun.bundle
SheetCopier.bundle
src/.vs/SCaddins/DesignTimeBuild/.dtbcache.v2
src/.vs/SCaddins/FileContentIndex/0008985b-1c03-4d70-9ca0-b06d0ac5cfe7.vsidx
src/.vs/SCaddins/FileContentIndex/690f2711-5392-4c69-b3aa-568b80ab0f30.vsidx
src/.vs/SCaddins/FileContentIndex/a0fa9c0e-ad6d-4edf-8c44-2ed1395e9a22.vsidx
src/.vs/SCaddins/FileContentIndex/b1f7df7b-8ad3-4231-8810-56451da6d1f0.vsidx
src/.vs/ProjectEvaluation/scaddins.metadata.v9.bin
src/.vs/ProjectEvaluation/scaddins.projects.v9.bin
src/.vs/ProjectEvaluation/scaddins.strings.v9.bin
src/.vs/SCaddins/DesignTimeBuild/.dtbcache.v2
src/.vs/SCaddins/FileContentIndex/565c8a89-ce3e-4deb-b78e-3f3198322808.vsidx
src/.vs/SCaddins/v17/.futdcache.v2
src/.vs/SCaddins/v17/DocumentLayout.backup.json
src/.vs/SCaddins/v17/DocumentLayout.json
src/.vs/SCaddins/v17/fileList.bin
*.bin
src/.vs/SCaddins/config/applicationhost.config
src/.vs/SCaddins/DesignTimeBuild/.dtbcache.v2
src/.vs/ProjectEvaluation/scaddins.strings.v9.bin
src/.vs/ProjectEvaluation/scaddins.projects.v9.bin
src/.vs/ProjectEvaluation/scaddins.metadata.v9.bin
src/.vs/SCaddins/FileContentIndex/baf3f75c-3edf-42e1-ba3e-a07ccf08d5cd.vsidx
src/.vs/SCaddins/v17/DocumentLayout.backup.json
src/.vs/SCaddins/v17/DocumentLayout.json
src/.vs/SCaddins/v17/fileList.bin
src/.vs/ProjectEvaluation/scaddins.metadata.v9.bin
src/.vs/ProjectEvaluation/scaddins.projects.v9.bin
src/.vs/ProjectEvaluation/scaddins.strings.v9.bin
src/.vs/SCaddins/DesignTimeBuild/.dtbcache.v2
src/.vs/SCaddins/v17/DocumentLayout.backup.json
src/.vs/SCaddins/v17/DocumentLayout.json
src/.vs/SCaddins/v17/fileList.bin
